<h1>UUTISKIRJE!!!</h1>

<h3><a href="/home">Takaisin etusivulle</a></h3>

<h3>Lähde kesän 2017 kiertomatkalle Venäjälle.<br/> 
Ilmoittaudu toukokuun loppuun mennessä, niin saat kaikki edut.</h3><br/> 

<img src="moskova10.jpg" alt= "venaja2.jpg" class = "uutinen">

<h3>Syksyn Rooman matkat myös jo suunnitelmissa. Tarkemmat tiedot<br/>
ja hinnat seuraavassa uutiskirjeessä.</h3>

<img src="rooma7.jpg" alt= "rooma7.jpg" class = "uutinen">