<head>
<title>
VENÄJÄ
</title>
	
</head>

<body>
<h4><a href="/home">Takaisin etusivulle</a></h4>

<h1>Tutustu Venäjään</h1>
<h3>Suosituilla Venäjän kiertomatkoilla virailemme Moskovassa ja Pietrissa<br/>
sekä toiveiden mukaan kahdessa muussa kaupungissa.<br/> 
Kesän 2017 matkat nyt varauksessa</h3>

<p>
 Tässä näet kuvasatoa edelliseltä matkaltamme. Matkaa varatessasi voit esittää myös<br/>
 toiveesi mihin kaupunkeihin Moskovan ja Pietarin välillä haluaisit tutustua.
</p>


<img src="moskova2.jpg" alt= "venaja2.jpg" class = "venaja">
<img src="moskova3.jpg" alt= "venaja3.jpg" class = "venaja">
<img src="moskova4.jpg" alt= "venaja4.jpg" class = "venaja"><br/>
<img src="moskova5.jpg" alt= "venaja5.jpg" class = "venaja">
<img src="moskova6.jpg" alt= "venaja6.jpg" class = "venaja">
<img src="moskova7.jpg" alt= "venaja7.jpg" class = "venaja"><br/>


</body>
