<h1>KIITOS! HAKEMUKSESI ON NYT VASTAANOTETTU</h1>

<h3><p>Saat tiedon päätöksestä sähköpostiisi ja myös tekstiviestin.<br/>
Hakemuksesi käsitellään kahden viikon kuluessa.</p>


<a href="/home">Takaisin etusivulle</a></h3>